/* Footer container */
.footer {
    background-color: #0c0c80; /* Deep blue background */
    color: white;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    width: 100%;
}

/* Footer Title */
.footer-title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #fff;
}

/* Subscribe section */
.subscribe-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.subscribe-input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    font-size: 16px;
    width: 250px;
    margin: 0;
}

.subscribe-button {
    background-color: #6b3fe1;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    height: fit-content;
}

.subscribe-button:hover {
    background-color: #5a34c1;
}

/* Footer links */
.footer-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #6b3fe1;
}

/* Social icons */
.footer-social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    gap: 20px;
}

.footer-social-icons a {
    color: white;
    font-size: 20px;
    transition: color 0.3s ease;
}

.footer-social-icons a:hover {
    color: #6b3fe1;
}

/* Copyright text */
.footer-copyright {
    font-size: 14px;
    color: #aaa;
    border-top: 1px solid #6b3fe1;
    padding-top: 10px;
    margin-top: 5px;
}
