body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0 auto;
    background-color: white;
  }
  
  /*.container {*/
  /*  background-color: #fff;*/
  /*  border-radius: 8px;*/
  /*  box-shadow: 0 0 10px rgba(0,0,0,0.1);*/
  /*}*/
  
  h1, h2, h3 {
    color: #2c3e50;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  .nav-active {
    font-weight: bold;
    color: #3498db;
  }