.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.header-left{
    margin-left: 10px ;
}
.header-left .logo {
    height: 50px;
}

.header-center .search-bar {
    width: 100%;
    max-width: 400px;
    padding-right: 100px;
    border-radius: 25px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.header-right {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 10px;
}

.header-right span {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

/* Styling for the UserButton component */
.header-right .cl-user-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;  /* Increased size for the user button */
    height: 50px; /* Increased size for the user button */
    border-radius: 50%;
    overflow: hidden;

}

.header-right .cl-user-button img {
    width: 100%;   /* Ensure image fills the button */
    height: 100%;  /* Ensure image fills the button */
    object-fit: cover;
}
.navLinkStyle {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.sign-in-sign-up-slot{
    display: flex;
    align-items: center;
}
.sign-in-link{
    width: 100px;
    text-decoration: none;
    margin-top:15px;
}
.create-event-button{
    margin-top : 0px;
}

.create-event-button {
    background-color: #7c3aed;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.create-event-button:hover {
    background-color: #6a27db;
}

.profile-photo:hover{
    background-color: white;
}
.Profile-Name{
    padding-right: 5px;
}